<section id="header">
  <a href="/index.html"> <img src="assets/logo/logo-dennis-schneider-2.svg" id="logo" /></a>
  <div id="burger" [className]="menuVisible ? 'btn active' : 'btn not-active'" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
<section [ngClass]="{ open: menuVisible }" id="menu">
  <a class="mailto" (click)="toggleMenu()" href="#aboutme">
    <div class="menu-item">
      <p>About me</p>
      <div class="border-left"></div>
      <div class="border-bottom"></div>
    </div>
  </a>
  <a class="mailto" (click)="toggleMenu()" href="#myskills">
    <div class="menu-item">
      <p>My skills</p>
      <div class="border-left"></div>
      <div class="border-bottom"></div>
    </div>
  </a>
  <a class="mailto" (click)="toggleMenu()" href="#portfolio">
    <div class="menu-item">
      <p>Portfolio</p>
      <div class="border-left"></div>
      <div class="border-bottom"></div>
    </div>
  </a>
  <div class="menu-footer d-none-mobile">
    <div class="black-corner"></div>
    <div class="menu-footer-content ">
      <div class="menu-footer-l">
        <h2>Say Hi!</h2>
        <a class="mailto" href="mailto:dennis@its-visible.de">
          <p>dennis@its-visible.de</p>
        </a>
      </div>
      <div class="menu-footer-r gap-m">
        <a class="contact-icon" target="_blank" href="https://github.com/Dennis-Schneider"><img
            src="assets/icons/contact-git.svg" /></a>
        <a class="contact-icon" target="_blank" href="mailto:dennis@its-visible.de"><img
            src="assets/icons/contact-mail.svg" /></a>
        <a class="contact-icon" target="_blank" href="https://www.linkedin.com/in/-dennis-schneider"><img
            src="assets/icons/contact-linkedin.svg" /></a>
      </div>
    </div>
  </div>
</section>