<section id="footer">
  <div class="footer-container">
    <div class="col-l">
      <img src="assets/logo/logo-dennis-schneider-2.svg" class="logo" />
      <span>© Dennis Schneider 2023</span>
    </div>
    <div class="col-r ">
      <div class="menu-footer-r gap-m">
        <a class="contact-icon" target="_blank" href="https://github.com/Dennis-Schneider"><img
            src="assets/icons/contact-git.svg" /></a>
        <a class="contact-icon" target="_blank" href="mailto:dennis@its-visible.de"><img
            src="assets/icons/contact-mail.svg" /></a>
        <a class="contact-icon" target="_blank" href="https://www.linkedin.com/in/-dennis-schneider"><img
            src="assets/icons/contact-linkedin.svg" /></a>
      </div>
      <div class="pointer" (click)="legalNotice()">Legal notice</div>
    </div>
  </div>
</section>