#footer {
  padding: 150px 0 80px 0;
  background-color: var(--black);
  color: white;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  height: 150px;
  padding: 0 100px;
  width: 100%;
}
.col-l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo {
  height: 60px;
  filter: invert(100) brightness(100) saturate(0);
  background: transparent;
}
.col-r {
  display: flex;
  flex-direction: column;
  align-items: flex-flex-end;
  justify-content: flex-end;
}

.sm-icons {
  display: flex;
  justify-content: flex-end;
  img {
    filter: brightness(1);
  }
}
