section {
  padding: 100px clamp(5px, 5vw, 100px);
}
.headline-skills {
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
}
h2 {
  background-color: var(--cream);
  padding: 0 3vw 50px 3vw;
}

.skills-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 4px black;
  padding: clamp(15px, 5vw, 100px);
  padding-top: clamp(50px, 12vw, 150px);
  gap: clamp(50px, 10vw, 78px);
}

.skills-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  gap: 15px;
  p {
    text-align: center;
    font-size: 16px;
  }
}

.skills-icon {
  display: flex;
  justify-content: center;
  width: clamp(40px, 15%, 100px);
  filter: brightness(0);
  transition: 1s;

  &:hover {
    transform: rotateY(180deg);
    filter: invert(45%) sepia(77%) saturate(1931%) hue-rotate(206deg)
      brightness(102%) contrast(101%);
  }
}

.arrow-m-div {
  top: 0px;
}

.arrow-ml {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  height: 150px;
  transition: all 250ms ease-in-out;
}
