<section id="myskills">
  <div class="headline-skills">
    <h2>My skills</h2>
  </div>
  <div class="skills-elements">
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/html.svg" />
      </div>
      <p>HTML</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/css.svg" />
      </div>
      <p>CSS</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/javascript.svg" />
      </div>
      <p>JavaScript</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/angular.svg" />
      </div>
      <p>Angular</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/typescript.svg" />
      </div>
      <p>Typescript</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/firebase.svg" />
      </div>
      <p>Firebase</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/git.svg" />
      </div>
      <p>Git</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/scrum.svg" />
      </div>
      <p>Scrum</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/api.svg" />
      </div>
      <p>Rest-Api</p>
    </div>
    <div class="skills-element">
      <div class="skills-icon">
        <img src="../../assets/icons/wordpress.svg" />
      </div>
      <p>Wordpress</p>
    </div>
  </div>
  <div class="arrow-m-div ">
    <img class="arrow-ml" [class.arrow-tltbr]="showArrow" src="../../assets/images/arrow-down.svg" />
  </div>
</section>