section {
  padding: 150px clamp(5px, 5vw, 100px) 0 clamp(5px, 5vw, 100px);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow-y: hidden;
  .headline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    .name-line {
      width: 100%;
      padding: 0 clamp(10px, 10vw, 80px);
      justify-content: space-around;
      align-items: center;
      gap: 15px;
      .line {
        width: 100%;
        height: 3px;
        background-color: var(--black);
      }
      p {
        font-family: "Overpass", sans-serif;
        font-weight: 700;
        font-size: clamp(0.75rem, -0.054rem + 4.8vw, 3rem);
        min-width: fit-content;
        color: var(--blue);
      }
    }
  }
  .contact-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    .email {
      p {
        font-size: 23px;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
      }
    }
    .arrow-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      font-size: 23px;
      div {
        overflow: hidden;
        height: 200px;
        .arrow {
          -webkit-animation: fade_move_down 1.5s ease-in-out infinite;
          -moz-animation: fade_move_down 1.5s ease-in-out infinite;
          animation: fade_move_down 1.5s ease-in-out infinite;
          /*animated scroll arrow animation*/
          @-webkit-keyframes fade_move_down {
            0% {
              -webkit-transform: translate(0, -100px);
            }
            50% {
            }
            100% {
              -webkit-transform: translate(0, 300px);
            }
          }
          @-moz-keyframes fade_move_down {
            0% {
              -webkit-transform: translate(0, -100px);
            }
            50% {
            }
            100% {
              -webkit-transform: translate(0, 300px);
            }
          }
          @keyframes fade_move_down {
            0% {
              -webkit-transform: translate(0, -100px);
            }
            50% {
            }
            100% {
              -webkit-transform: translate(0, 300px);
            }
          }
        }
      }
    }
  }
}
