<section class="bg">
  <div class="start-section-content">
    <div class="ss-left-col">
      <img class="ssl-profile" src="../../assets/icons/musterbild.png" />
    </div>
    <div class="ss-right-col">
      <div class="ssr-indroduction-1">I am</div>
      <div class="ssr-indroduction-2">Dennis Schneider</div>
      <div class="ssr-indroduction-3">Frontend Developer</div>
    </div>
  </div>
  <div class="ssl-background">
    <img src="../../assets/icons/start-section-background.svg" />
  </div>

  <div class="ssl-overlay">
    <img src="../../assets/icons/start-section-overlay.svg" />
  </div>
</section>
