section {
  position: relative;
  top: auto;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.ssl-overlay {
  img {
    position: absolute;
    top: 15vh;
    width: 1920px;
    object-fit: cover;
    object-position: left;
    z-index: 3;
  }
}

.ssl-background {
  img {
    position: absolute;
    top: 300px;
    left: 15vw;
    object-fit: cover;
    width: 700px;
    min-width: 360px;
    max-width: 100vw;
    z-index: 0;
  }
}

.start-section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .ss-left-col {
    .ssl-profile {
      position: relative;
      width: 500px;
      z-index: 1;
    }
  }

  .ss-right-col {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 1fr 0.6fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    z-index: 1;

    .ssr-indroduction-1 {
      font-size: 3rem;
      text-align: center;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      grid-area: 1 / 1 / 3 / 2;
    }

    .ssr-indroduction-2 {
      font-size: 4em;
      grid-area: 1 / 2 / 2 / 3;
    }

    .ssr-indroduction-3 {
      font-size: 2em;
      text-transform: uppercase;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}
