<section>
  <div class="headline">
    <h1>
      Frontend <br />
      Developer
    </h1>
    <div class="name-line flex">
      <div class="line"></div>
      <p>Dennis Schneider</p>
    </div>
  </div>
  <div class="contact-line">
    <div class="email">
      <a class="mailto" href="mailto:dennis@its-visible.de"
        ><p>dennis@its-visible.de</p></a
      >
    </div>
    <div class="arrow-div">
      <div>
        <img class="arrow" src="../../assets/images/arrow-down.svg" alt="" />
      </div>
      Scroll <br />
      Down
    </div>
  </div>
</section>
