section {
  max-width: 100vw;
  padding: 100px 100px 200px 100px;

  .content {
    display: flex;
    gap: 90px;

    #am-image {
      position: relative;
      img {
        max-width: 530px;
      }
      .outline {
        position: absolute;
        top: 15px;
        left: 15px;
        right: -15px;
        bottom: -15px;
        &:hover {
          border: 5px solid black;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}
