<section id="contact">
  <div class="black-corner"></div>
  <section class="contact-black">
    <h2>Say Hi!</h2>
    <div class="contact-form">
      <div class="contact-form">
        <div class="subline bold">Want to discuss a new Project?</div>
        <div>Say hello! let's discuss your ideas and make it happen</div>
        <form (submit)="sendMail()" #myForm>
          <div class="field-holder">
            <input type="text" name="name" id="fname" #fname required />
            <label for="fname">Your name</label>
          </div>
          <div class="field-holder">
            <input type="email" name="email" id="femail" #femail required />
            <label for="femail">Your mail</label>
          </div>
          <div class="field-holder">
            <textarea
              name="message"
              rows="8"
              id="fmessage"
              #fmessage
              required
            ></textarea>
            <label class="textarea" for="fmessage">Your message</label>
          </div>
          <button #fbutton type="submit">Send message</button>
        </form>
      </div>
    </div>
  </section>
</section>
