#contact {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  padding: 150px 0 0 0;
  color: var(--white);

  .black-corner {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 10vw solid var(--black);
    border-right: 100vw solid transparent;
  }

  .contact-black {
    background-color: var(--black);
    padding: 0 clamp(5px, 2vw, 100px);
    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: clamp(250px, 40vw, 100%);
      margin: auto;
      gap: 25px;
      form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 42px;
        input {
          height: 48px;
        }
        input,
        textarea {
          background-color: var(--black);
          border: unset;
          border-bottom: 1px solid white;
          padding: 12px 20px;
          color: var(--white);
        }
      }
    }
  }
}

.field-holder {
  position: relative;
  label {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: text;
  }
  .textarea {
    align-items: flex-start;
  }

  input,
  textarea,
  label {
    font-size: 1em;
    width: 100%;
    transition: 0.15s ease-in-out;
  }
  input:focus + label,
  input:valid + label,
  input:not(:placeholder-shown) + label,
  textarea:focus + label,
  textarea:valid + label {
    color: rgba(255, 255, 255, 0.722);
    top: -13px;
    background-color: black;
    width: fit-content;
    padding: 0 5px;
    left: 15px;
    height: fit-content;
    pointer-events: none;
  }

  input:valid,
  input:focus,
  textarea:focus,
  textarea:valid {
    outline: 3px var(--white) solid;
  }
}

button {
  border-color: var(--white);
  color: var(--white);
  margin: auto;
}

#myForm {
  position: relative;
}

#sendSuccess {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  border: 10px solid var(--blue);
  border-radius: 25px;
  background-color: rgba($color: #535353, $alpha: 1);
  padding: 25px;
  h3 {
    text-align: center;
  }
}

input[required]:valid,
textarea[required]:valid {
  background: #f3f8ed url(./../../assets/icons/input-okay.svg) no-repeat center
    right 3%;
}

input[required]:invalid:not(:placeholder-shown),
textarea[required]:invalid:not(:placeholder-shown) {
  background: #f3f8ed url(./../../assets/icons/required.svg) no-repeat center
    right 3%;
}
