#portfolio {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 0 100px;
  gap: 100px;
  .headline {
    width: 50vw;
    margin: auto;
    padding: 100px 0;
    h2,
    p {
      text-align: center;
    }
  }
  .project {
    display: flex;
    align-items: center;
    filter: saturate(0);
    &:hover {
      filter: saturate(1);

      img {
        animation: 10s ease zoomin;
        -webkit-animation: 10s ease zoomin;
        -o-animation: 10s ease zoomin;
        -moz--o-animation: 10s ease zoomin;
      }
      .outline-left {
        border: 5px solid black;
      }
      .column-2 {
        left: 0;
        opacity: 100%;
      }
      .project-img-div {
        overflow: hidden;
      }
    }
    .project-img-container {
      position: relative;
      width: 50vw;
      margin: 0 40px 0 0;
      .project-img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
      }
      .outline-left {
        position: absolute;
        top: 15px;
        left: 15px;
        right: -15px;
        bottom: -15px;
      }
      .outline-right {
        position: absolute;
        top: 15px;
        left: -15px;
        right: 15px;
        bottom: -15px;
      }
    }
    .column-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 15px;
      left: -5%;
      opacity: 0;
      transition: all ease 0.5s;
    }
  }
  .reverse {
    flex-direction: row-reverse;
    .column-2 {
      display: flex;
      flex-direction: column;
      align-items: end;
      text-align: end;
      right: 0%;
      left: unset;
    }
    &:hover {
      filter: saturate(1);
      .outline-right {
        border: 5px solid black;
      }
      .column-2 {
        right: 3%;
        opacity: 100%;
        left: unset;
        text-align: end;
      }
    }
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.15, 1.15);
  }
}
