<section id="portfolio">
  <div class="headline">
    <h2>Portfolio</h2>
    <p>
      Feel free to try out my latest development projects <br />
      and look into their code...
    </p>
  </div>

  <section class="project">
    <div class="column-1 project-img-container">
      <div class="project-img-div"><img class="project-img" src="./../../assets/images/dennis-schneider.jpg" /></div>
      <div class="outline-left"></div>
    </div>
    <div class="column-2">
      <h3>Join</h3>
      <span class="subline">HTML| CSS | JavaScript</span>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag & drop functions, aissgn users and categories
      </p>
      <div class="flex gap-m">
        <button><a class="pointer" target="_blank"
            href="https://dennis-schneider.developerakademie.net/10-join/join/index.html">Live
            view</a></button>
        <button><a class="pointer flex center gap-s" target="_blank" href="https://github.com/Dennis-Schneider/join">
            <img class="github-icon" src="../../assets/icons/git.svg"> <span> Github</span></a></button>
      </div>
    </div>
  </section>
  <section class="project reverse">
    <div class="column-1 project-img-container">
      <div class="project-img-div"><img class="project-img" src="./../../assets/images/dennis-schneider.jpg" /></div>
      <div class="outline-right"></div>
    </div>
    <div class="column-2">
      <h3>RingOfFire</h3>
      <span class="subline"> Angular | CSS | JavaScript</span>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag & drop functions, aissgn users and categories
      </p>
      <div class="flex gap-m">
        <button><a class="pointer" target="_blank"
            href="https://dennis-schneider.developerakademie.net/13-ringoffire/index.html">Live
            view</a></button>
        <button><a class="pointer flex center gap-s" target="_blank"
            href="https://github.com/Dennis-Schneider/ringoffire">
            <img class="github-icon" src="../../assets/icons/git.svg"> <span> Github</span></a></button>
      </div>
    </div>
  </section>
  <section class="project">
    <div class="column-1 project-img-container">
      <div class="project-img-div"><img class="project-img" src="./../../assets/images/dennis-schneider.jpg" /></div>
      <div class="outline-left"></div>
    </div>
    <div class="column-2">
      <h3>Portfolio</h3>
      <span class="subline">Angular | CSS | TypeScript </span>
      <p>
        Explore my portfolio website built with Angular and Typescript. The foundation was an innovative screen design
        that served as the basis for this project.
      </p>
      <div class="flex gap-m">
        <button><a class="pointer" target="_blank"
            href="https://dennis-schneider.developerakademie.net/10-join/join/index.html">Live
            view</a></button>
        <button><a class="pointer flex center gap-s" target="_blank" href="https://github.com/Dennis-Schneider/join">
            <img class="github-icon" src="../../assets/icons/git.svg"> <span> Github</span></a></button>
      </div>
    </div>
  </section>
  <div class="arrow-m-div ">
    <img class="arrow-m" [class.arrow-trtbl]="showArrow" id="arrow" src="../../assets/images/arrow-down.svg" />
  </div>
</section>