:root {
  // colors
  --blue: #5988ff;
  --cream: #fffcf3;
  --white: #ffffff;
  --black: #000000;
  // geo
  --menu-height-d: 90px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--cream);
}
